form {
    padding: 25px;
    /* box-shadow: 0 0 2px; */
}

input[type="text"],
input[type="password"],
input[type="date"] {
    box-shadow: 0 0 2px;
    padding: 10px;
    font: inherit;
    width: 100%;
    box-sizing: border-box;
}

form div {
    margin: 20px 0;
}

form div.flex-row {
    display: flex;
    flex-direction: row;
}

form div.flex-row > input + input {
    margin-left: 10px;
}

button {
    font: inherit;
    padding: 10px 25px;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 0 2px;
}

#login {
    width: clamp(35%, 400px, 100%);
    margin: 0 0 50px 0;
}

#create-account {
    width: clamp(35%, 500px, 100%);
    margin: 0 0 50px 0;
}

#login-submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}