@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;

    font-weight: normal;

    box-sizing: border-box;
}

#container {
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;

    height: 100vh;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex: auto;
}

main {
    width: clamp(50%, 600px, 100%);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

h1 {
    font-size: 3rem;
    margin-bottom: 30px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

h3 {
    margin: 10px 0;
}

header h2 {
    font-size: 28px;
    margin: 0 10px;
}

a {
    font: inherit;
    color: inherit;
    text-decoration: inherit;
}